In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Raw Dataframe
df = pd.read_csv('../train.csv')

# Fix wrong label issue
df = df.replace({'bottlenose_dolpin': 'bottlenose_dolphin',
                 'kiler_whale': 'killer_whale',
                 'pilot_whale':'short_finned_pilot_whale',
                 'globis': 'short_finned_pilot_whale'})

df.head()

                image             species individual_id
0  00021adfb725ed.jpg  melon_headed_whale  cadddb1636b9
1  000562241d384d.jpg      humpback_whale  1a71fbb72250
2  0007c33415ce37.jpg  false_killer_whale  60008f293a2b
3  0007d9bca26a99.jpg  bottlenose_dolphin  4b00fe572063
4  00087baf5cef7a.jpg      humpback_whale  8e5253662392

In [7]:
len(df.individual_id.unique())

15587

In [8]:
len(df.species.unique())

26

In [10]:
unique_ids_df = df.individual_id.value_counts().rename_axis('individual_id').reset_index(name='counts')
unique_ids_df.head()

  individual_id  counts
0  37c7aba965a5     400
1  114207cab555     168
2  a6e325d8e924     155
3  19fbb960f07d     154
4  c995c043c353     153

In [63]:
unique_ids_df.query('counts <= 10')

      individual_id  counts
795    ce5f53ff815b      10
796    a5a4dc77bb63      10
797    bd5b045552b1      10
798    b4998a109af5      10
799    3232d1748ed3      10
...             ...     ...
15582  7da30c559ad2       1
15583  882c59ba34bb       1
15584  704e724a033f       1
15585  08983c540e76       1
15586  bc6fcab946c4       1

[14792 rows x 2 columns]

In [58]:
unique_ids_df.query('counts>10').shape

(795, 2)

In [59]:
15587-15331

256

In [60]:
test_df = pd.read_csv('../sample_submission.csv')
print(len(test_df))
test_df.head()

27956

                image                                        predictions
0  000110707af0ba.jpg  37c7aba965a5 114207cab555 a6e325d8e924 19fbb96...
1  0006287ec424cb.jpg  37c7aba965a5 114207cab555 a6e325d8e924 19fbb96...
2  000809ecb2ccad.jpg  37c7aba965a5 114207cab555 a6e325d8e924 19fbb96...
3  00098d1376dab2.jpg  37c7aba965a5 114207cab555 a6e325d8e924 19fbb96...
4  000b8d89c738bd.jpg  37c7aba965a5 114207cab555 a6e325d8e924 19fbb96...

In [61]:
df.species.value_counts()

bottlenose_dolphin           10781
beluga                        7443
humpback_whale                7392
blue_whale                    4830
false_killer_whale            3326
dusky_dolphin                 3139
killer_whale                  2455
spinner_dolphin               1700
melon_headed_whale            1689
minke_whale                   1608
fin_whale                     1324
gray_whale                    1123
southern_right_whale           866
short_finned_pilot_whale       745
spotted_dolphin                490
sei_whale                      428
common_dolphin                 347
cuviers_beaked_whale           341
long_finned_pilot_whale        238
white_sided_dolphin            229
brydes_whale                   154
pantropic_spotted_dolphin      145
commersons_dolphin              90
pygmy_killer_whale              76
rough_toothed_dolphin           60
frasiers_dolphin                14
Name: species, dtype: int64

In [82]:
less_than_equal_ten_df = unique_ids_df.query('counts <= 10')
less_than_equal_ten_ids = less_than_equal_ten_df.individual_id.values
print(len(less_than_equal_ten_ids))
df[df.individual_id.isin(less_than_equal_ten_ids)]

14792

                    image               species individual_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9
1      000562241d384d.jpg        humpback_whale  1a71fbb72250
7      000bef247c7a42.jpg        humpback_whale  444d8894ccc8
16     0018064338b499.jpg            blue_whale  4790ec346170
17     001b0900f56e89.jpg        humpback_whale  bc14b5054353
...                   ...                   ...           ...
51023  fff2dbac692435.jpg                beluga  3b9152077a31
51025  fff47736026701.jpg        humpback_whale  ff95891f0378
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e

[26852 rows x 3 columns]

In [83]:
greater_equal_fifty_df = unique_ids_df.query('counts >=2 and counts<=100')
greater_equal_fifty_ids = greater_equal_fifty_df.individual_id.values
print(len(greater_equal_fifty_ids))
df[df.individual_id.isin(greater_equal_fifty_ids)]

6302

                    image               species individual_id
1      000562241d384d.jpg        humpback_whale  1a71fbb72250
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392
6      000be9acf46619.jpg                beluga  afb9b3978217
...                   ...                   ...           ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb

[37917 rows x 3 columns]

In [85]:
6302+9258

15560